.button {
  border: none;
  height: 30px;
  color: #000;
  width: 150px;
  background-color: aliceblue;
  margin-right: 6px;
  line-height: 0.1;
  margin-top: 12px;
  font-weight: 400;
  text-shadow: 1px 0 3px rgb(0, 0, 0, 0.2);
  padding: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  -moz-box-shadow: 0 0 0 2px steelblue;
  -webkit-box-shadow: 0 0 0 2px steelblue;
  box-shadow: 0 0 0 2px steelblue;
}

.button:hover {
  padding-right: 30px;
  /* transition: all 0.35s ease 0s; */
}

.button:hover::before {
  content: '+';
  padding: 0;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  color: red;
}
